---
- name: Install Apache Webserver
  hosts: web
  become: yes

  tasks:
    - name: Install Apache
      apt:
        name: apache2
        state: present

    - name: Ensure Apache running
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Deploy index page
      template:
        src: ../templates/index.html.j2
        dest: /var/www/html/index.html
